.begin main
    .arm
    // number of test cases - incremented as we go
    mov r6, #0
    // stack
    ldr sp, =0x03008000
    b case_1
init:
    add r6, r6, #1
    mov pc, lr
fail:
    ldr r7, =-1
    push {r7}
    b exit
success:
    mov r7, #1
    push {r7}
    mov pc, lr
set_flags:
    mov r0, r0, lsl #28
    msr cpsr_flg, r0
    mov pc, lr

case_1:
    // tests go here

exit: 
    // asm_tests exit condition
    mov r11, #0x6300
    b end
end:
    b end
    .pool
.end